<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
        {{ plugin_filetypes_stl }}</br>
        {{ plugin_filetypes_gcode }}</br>
        {{ plugin_filetypes_gco }}</br>
        {{ plugin_filetypes_g }}</br>
        </div>
    </div>
</form>



